# Byte-compiled / build
__pychache__/
*.py[cod]
*.egg-info/
build/
dist/

# Virtualvenvs (in case it's created a .venv in here)
.venv/
venv/

# ABAC-Mongo artifacts
old_policies/
test.py

# Logs / Historic primpts
*.log
.abac_mongo_history

# Editor /OS
-vscode/
.DS_store

# Docs
docs/**

# Only html
!docs/_build/
!docs/_build/html/
!docs/_build/html/**